body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(231, 174, 174);

}
.player-console {
  display: none;
}
.what{
  height: 450px;
}
input[type=text], select {
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(250, 245, 245);
    box-sizing: border-box;
	background-color: rgb(245, 240, 240);
}
.btn{
    background-color: 	#b4b4e2;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 30px; 
}
